<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title> Welcome </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<style>
	</style>
</head>

<body class="">
	<div id="ribbon">
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>Dashboard</li>
			<li>Welcome</li>
		</ol>
	</div>
	<!-- MAIN CONTENT -->
	<div id="content">
		<!-- row -->
		<div id="chat-container" class="">
			<div class="chat-list-body custom-scroll">
				<div id="filterFormKPI">
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="row">
					<div class="col-sm-12">
						<div class="text-center error-box">
							<!--<h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>-->
							<h2 class="font-xl tada animated"><strong>Srry</strong></h2>
							<br />
							<p class="lead semi-bold">
								<strong>Check the Pannel for Other Pages</strong><br><br>
								<!--<small>
											We are working hard to correct this issue. Please wait a few moments and try your search again. <br> In the meantime, check out whats new on SmartAdmin:
										</small>-->
							</p>
							<div class="error-search text-left font-md">
								<div class="text-center">Go to Pannel <i class="fa fa-arrow-left"></i></div>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
	</div>
	<!--================================================== -->
	<!-- PAGE RELATED PLUGIN(S) -->
	<script async src="js/controllers/NoAccess.js"></script>
</body>

</html>