<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title> Dashboard </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<style>
		.dt-toolbar> :first-child .DTTT,
		.dt-toolbar> :first-child .dataTables_filter> :only-child,
		.dt-toolbar> :first-child .dataTables_length,
		.dt-toolbar> :first-child .pagination {
			float: right !important;
		}
		
		.btn-bronze {
			color: #fff;
			background-color: Brown;
			border-color: Brown;
		}
		
		.btn-diamond {
			color: #fff;
			background-color: blue;
			border-color: blue;
		}
		
		.btn-gold {
			color: #fff;
			background-color: Gold;
			border-color: Gold;
		}
		
		.btn-silver {
			color: #fff;
			background-color: silver;
			border-color: silver;
		}
		
		.btn-circle {
			width: 10px;
			height: 10px;
			text-align: center;
			padding: 6px 0;
			font-size: 12px;
			line-height: 18px;
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
		}
		
		#sparks {
			display: block;
			list-style: none;
			margin: 0px 0 0;
			padding: 0;
			text-align: right;
		}
		
		.onoffswitch {
			position: relative;
			width: 60px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			margin-top: 3px;
			margin-bottom: 3px;
			margin-left: 5px;
			display: inline-block;
			vertical-align: middle;
		}
		
		.txt-color-greenLight {
			color: #f5f5f5 !important;
		}
	</style>
</head>

<body class="">
	<div id="ribbon">
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>Dashboard</li>
			<li>Technical Service</li>
		</ol>
	</div>
	<!-- MAIN CONTENT -->
	<div id="content">
		<!-- row -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul id="sparks" class="">
					<li class="sparks-info">
						<h5> Total Customers <span class="txt-color-purple" id="totalCustomer">180</span></h5>
					</li>
					<li class="sparks-info">
						<h5>Customers Selected <span class="txt-color-blue" id="customerSelected">12</span></h5>
						<div class="easy-pie-chart sparkline txt-color-blue hidden-mobile hidden-md hidden-sm" data-percent="1.5" data-pie-size="40"
										id="totalSmartOutlet1">
							<span class="percent percent-sign">1.5</span>
						</div>
					</li>
					<li class="sparks-info">
						<h5> Total Coolers <span class="txt-color-purple" id="totalCooler">198</span></h5>
					</li>
					<li class="sparks-info">
						<h5>Coolers Selected <span class="txt-color-blue" id="coolerSelected">12</span></h5>
						<div class="easy-pie-chart sparkline txt-color-blue hidden-mobile hidden-md hidden-sm" data-percent="1.5" data-pie-size="40">
							<span class="percent percent-sign">1.5</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<section id="widget-grid" class="">
			<div class="row">
				<article class="col-sm-12 col-md-12 col-lg-12">
					<article class="col-sm-12">
						<div class="jarviswidget" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
										data-widget-deletebutton="false" data-widget-sortable="false" data-widget-collapsed="false" data-widget-togglebutton="false">
							<header>
								<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
								<h2>Alarm Stats</h2>
							</header>
							<div class="">
								<ul id="sparks" style="text-align: left;">
									<li class="sparks-info col-sm-3 col-md-3 col-lg-3" style="padding-bottom: 1em;">
										<h5>Total # Of Alarms </h5>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div id="totlaAlarm" class="easy-pie-chart txt-color-greenLight" data-percent="0" data-pie-size="50">
												<span class="percent">15 </span>
											</div>
										</div>
									</li>
									<li class="sparks-info col-sm-3 col-md-3 col-lg-3" style="padding-bottom: 1em;">
										<h5>Cooler To Alarm Rate </h5>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div id="assetAlarmRate" class="easy-pie-chart txt-color-greenLight" data-percent="0" data-pie-size="50">
												<span class="percent percent-sign">15 </span>
											</div>
										</div>
									</li>
									<li class="sparks-info col-sm-2 col-md-2 col-lg-2" style="padding-bottom: 1em;">
										<h5>Open Alarms # </h5>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div id="openAlarm" class="easy-pie-chart txt-color-red" data-percent="0" data-pie-size="50">
												<span class="percent">15 </span>
											</div>
										</div>
									</li>
									<li class="sparks-info col-sm-2 col-md-2 col-lg-2" style="padding-bottom: 1em;">
										<h5> Closed Alarms#</h5>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div id="closedAlarm" class="easy-pie-chart txt-color-red" data-percent="0" data-pie-size="50">
												<span class="percent">15 </span>
											</div>
										</div>
									</li>
									<li class="sparks-info col-sm-3 col-md-3 col-lg-3" style="padding-bottom: 1em;border-left: 0px dotted #c7c7c7;">
										<h5> Rate Of Closure</h5>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div id="rateOfClosure" class="easy-pie-chart txt-color-red" data-percent="0" data-pie-size="50">
												<span class="percent">15 </span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</article>
					<article class="col-sm-12 col-md-12 col-lg-12">
						<div class="jarviswidget" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
										data-widget-sortable="false">
							<header>
								<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
								<h2>Number Of Alarms By Type</h2>
							</header>
							<div class="no-padding">
								<div>
									<div style="background-color:white">
										<div id="alarmByTypeTechnicical"></div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="col-sm-6 col-md-6 col-lg-6">
						<div class="jarviswidget" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
										data-widget-sortable="false">
							<header>
								<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
								<h2>Count Of Alarms By Technician</h2>
								<div class="widget-toolbar hidden-mobile">
									<span class="onoffswitch-title"><i class="fa fa-toggle-on"></i> Select </span>
									<span class="onoffswitch">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" checked="checked" id="sellerTop">
										<label class="onoffswitch-label" for="sellerTop"> <span class="onoffswitch-inner" data-swchon-text="Top 10" data-swchoff-text=" Top 10"></span>									<span class="onoffswitch-switch"></span> </label>
									</span>
								</div>
							</header>
							<div class="no-padding">
								<div>
									<div style="background-color:white">
										<div id="alarmBySeller"></div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="col-sm-6 col-md-6 col-lg-6">
						<div class="jarviswidget" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
										data-widget-sortable="false">
							<header>
								<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
								<h2>Count Of Alarm By Customer</h2>
								<div class="widget-toolbar hidden-mobile">
									<span class="onoffswitch-title"><i class="fa fa-toggle-on"></i> Select </span>
									<span class="onoffswitch">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" checked="checked" id="sellerTop">
										<label class="onoffswitch-label" for="sellerTop"> <span class="onoffswitch-inner" data-swchon-text="Top 10" data-swchoff-text=" Top 10"></span>									<span class="onoffswitch-switch"></span> </label>
									</span>
								</div>
							</header>
							<div class="no-padding">
								<div>
									<div style="background-color:white">
										<div id="alarmByCustomer"></div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="col-sm-12 col-md-12 col-lg-12">
						<div class="jarviswidget" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
										data-widget-sortable="false" data-widget-deletebutton="false">
							<header>
								<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
								<h2>Alarms Aging By Priority</h2>
							</header>
							<div class="no-padding">
								<div>
									<div style="background-color:white">
										<div id="alertAgingIOT"></div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="col-sm-12 col-md-12 col-lg-12">
						<div class="jarviswidget" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
										data-widget-sortable="false" data-widget-deletebutton="false">
							<header>
								<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
								<h2>Open Alarms By Date</h2>
							</header>
							<div class="no-padding">
								<div>
									<div style="background-color:white">
										<div id="alertsIOTAlarm"></div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</article>
				<!--<article class="col-sm-5 col-md-5 col-lg-5">
					<div id="chat-container" class="">-->
				<span class="chat-list-open-close"><i class="fa fa-filter icon-filter"></i>
  					<b class="filterApplied hidden"><i class="fa fa-check" aria-hidden="true"></i></b><span class="text-filter">Filters</span>
			</span>
			<div id="filterTitle"></div>
				<div class="chat-list-body custom-scroll">
					<div id="filterFormKPI">
					</div>
				</div>
			</div>
			<div id="chat-container-summary">
				<div id="chat-container" class="chat-container-summary">
					<span class="chat-list-open-close" style="top:139px">
					<i class="fa fa-table icon-filter"></i><span class="text-filter">Summary</span>
					<b><i class="fa fa-filter"></i></b>
				</span>
					<div class="chat-list-body custom-scroll">
						<div id="filterSummary">
						</div>
					</div>
				</div>
			</div>
			<!--</article>-->
	</div>
	</section>
	</div>
	<!--================================================== -->
	<!-- PAGE RELATED PLUGIN(S) -->
	<script async src="js/controllers/TechnicalDashboard.js"></script>
</body>

</html>